In [1]:
people: dict = {
        "firstName": ["Corey", "Jane", "John"],
        "lastName": ["Schafer", "Doe", "Doe"],
        "emailAdress": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [5]:
df["lastName"] == "Doe"

0    False
1     True
2     True
Name: lastName, dtype: bool

In [6]:
filtered = (df["lastName"] == "Doe")

In [7]:
filtered

0    False
1     True
2     True
Name: lastName, dtype: bool

In [8]:
df[filtered]

  firstName lastName        emailAdress
1      Jane      Doe  JaneDoe@email.com
2      John      Doe  JohnDoe@email.com

In [9]:
df[df["lastName"] == "Doe"]

  firstName lastName        emailAdress
1      Jane      Doe  JaneDoe@email.com
2      John      Doe  JohnDoe@email.com

In [10]:
df.loc[filtered]

  firstName lastName        emailAdress
1      Jane      Doe  JaneDoe@email.com
2      John      Doe  JohnDoe@email.com

In [11]:
df.loc[filtered, "emailAdress"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: emailAdress, dtype: object

In [14]:
filtered = ((df["lastName"] == "Doe") & (df["firstName"] == "John"))
df.loc[filtered]

  firstName lastName        emailAdress
2      John      Doe  JohnDoe@email.com

In [15]:
filtered = ((df["lastName"] == "Doe") | (df["firstName"] == "John"))
df.loc[filtered]

  firstName lastName        emailAdress
1      Jane      Doe  JaneDoe@email.com
2      John      Doe  JohnDoe@email.com

In [16]:
df.loc[~filtered, "emailAdress"]

0    CoreyMSchafer@gmail.com
Name: emailAdress, dtype: object

In [17]:
df = pd.read_csv(r"data\survey_results_public.csv")
schemaDf = pd.read_csv(r"data\survey_results_schema.csv")

In [20]:
highSalary = (df["ConvertedComp"] > 70000)

In [22]:
df.loc[highSalary]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88323,88876,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,NaN,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88324,88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,48.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88325,88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88326,88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88329,88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

In [23]:
df.loc[highSalary, ["Country", "LanguageWorkedWith"]]

              Country                                 LanguageWorkedWith
5              Canada                                         Java;R;SQL
8         New Zealand  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
12      United States  Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
15     United Kingdom  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...
21      United States  Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
...               ...                                                ...
88323   United States  Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...
88324   United States  Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...
88325   United States               HTML/CSS;JavaScript;Scala;TypeScript
88326         Finland                   Bash/Shell/PowerShell;C++;Python
88329     Netherlands             C#;HTML/CSS;Java;JavaScript;PHP;Python

[22289 rows x 2 columns]